@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

p {
  margin: 0px;
}

/* centered-container */

.centered-container {
  max-width: 1092px !important;
  width: 100%;
  margin: auto;
  text-align: center;
}

.font-tomorrow {
  font-family: "Tomorrow", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", cursive;
}

.background-style {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat !important;
}

header {
  background-image: url("/assets/images/png/header-bg.png");
}

.nav-link {
  width: 97px;
}

.custom-btn:hover {
  background-color: var(--color-sky-blue) !important;
  color: black !important;
  border: 1px solid var(--color-sky-blue) !important;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

.menu-btn:focus {
  border: none !important;
  box-shadow: none !important;
}

.background-black {
  background: rgba(0, 0, 0, 0.77) !important;
}

.close-btn {
  top: 20px;
  right: 20px;
}

button {
  white-space: nowrap;
}

.hero-section {
  padding: 145px 0px 158px 0px;
}

.common-button {
  background-color: var(--color-sky-blue);
  color: var(--color-black);
  text-align: center;
  font-weight: 600;
  font-size: var(--fs-sm);
  width: 186px;
  height: 46px;
  border-radius: 45px;
  border: 1px solid var(--color-sky-blue);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.common-button:hover {
  background-color: transparent;
  color: var(--color-sky-blue);
}

.popular-section {
  background-image: url(/assets/images/png/popular-section-bg.png);
  padding: 60px 12px 75px 12px;
}

.custom-container {
  max-width: 1115px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.section-title {

  font-size: var(--fs-3xl);
  color: var(--color-white);
  line-height: 40px;
}

.popular-card {
  width: 30.333333%;
  background-color: rgba(71, 92, 131, 0.55);
  border-radius: 16px;
  border: 1px solid var(--color-light-gray);
  padding: 26px 0px 23px 11px;
}

.w-230 {
  width: 230px;
  padding-bottom: 14px;
}

.card-content {
  line-height: 18px;
  letter-spacing: 0.14px;
  max-width: 296px;
}

.build-section {
  background-image: url(/assets/images/png/build-section-bg.png);
  padding: 36px 14px 55px 14px;
}

.build-card {
  width: 31.333333%;
  background-color: var(--color-black);
  border-radius: 16px;
  border: 1px solid #313131;
  padding: 26px 10px 23px 11px;
}

.api-references-section {
  background-image: url(/assets/images/png/api-references-section-bg.png);
  padding: 51px 12px 74px 12px;
}

.api-references-box {
  max-width: 695px;
  width: 100%;
  margin: auto;
  margin-top: 54px;
}

.all-chains {
  gap: 60px;
}

.all-chains div img {
  width: 65px;
  height: 65px;
  margin: auto;
}

.w-92 {
  width: 92px;
  letter-spacing: 2px;
  line-height: 16px;
}

.case-apis-section {
  background-image: url(/assets/images/png/case-apis-section-bg.png);
  padding: 59px 12px 74px 12px;
}

.case-apis-box {
  padding-bottom: 25px;
}

.join-section {
  background: url(/assets/images/png/join-section-bg.png);
  padding: 42px 12px 35px 12px;
}

footer {
  padding: 81px 12px 45px 12px;
}

.footer-centered-container {
  max-width: 1115px;
  width: 100%;
  margin: auto;
}

.footer-link-box p {
  text-decoration: underline;
}

.logo-div {
  max-width: 236px;
}

.copyright {
  color: #939393 !important;
}

@media (max-width: 992px) {
  .hero-section {
    padding: 139px 0px 144px 0px;
  }
  .nav-link {
    width: fit-content !important;
  }
  .common-button {
    font-weight: 500;
    width: 146px;
    height: 36px;
  }
  .all-chains {
    gap: 40px;
  }
  .api-references-box {
    margin-top: 27px;
  }
  .logo-div {
    max-width: 999px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 129px 0px 114px 0px;
  }
  .common-button {
    width: 116px;
  }
  .popular-section {
    padding: 42px 12px 47px 12px;
  }
  .popular-card {
    width: 48%;
    padding: 15px 10px 12px 11px;
  }
  .build-card {
    width: 48%;
    padding: 15px 0px 12px 11px;
  }
  .build-section {
    padding: 42px 14px 47px 14px;
  }
  .all-chains {
    gap: 20px;
  }
  .api-references-section {
    padding: 34px 12px 34px 12px;
  }
  .case-apis-section {
    padding: 42px 12px 39px 12px;
  }
  .trusted-by svg {
    width: 79px;
    height: 29px;
  }
  .join-section {
    padding: 38px 12px 20px 12px;
  }
  footer {
    padding: 20px 12px 20px 12px;
  }
}

@media (max-width: 575px) {
  .popular-card {
    width: 100%;
  }
  .build-card {
    width: 100%;
  }
  .card-content {
    max-width: 999px;
  }
  .w-230 {
    width: 100%;
  }
}
